<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

    <div class="container">
        <div class="row mt-5">

            <h1>Home</h1>
    <hr>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, alias architecto. Obcaecati asperiores, ipsam accusantium perferendis porro, illo ducimus enim amet, nulla unde explicabo ad id fuga commodi saepe tempore.
        Dolorem quo quam numquam aliquam itaque? Harum cumque impedit laudantium ipsum, eos debitis totam doloremque placeat a culpa consectetur eveniet voluptatibus necessitatibus delectus. Iste facilis porro, eveniet rerum ratione reiciendis!
        Maxime totam sed molestiae ab quos fuga nihil accusantium. Optio excepturi expedita repellat ex impedit, nisi recusandae dolore neque, velit laboriosam exercitationem voluptatem ut necessitatibus quos numquam consectetur officiis veritatis?
        Aliquid, deleniti quasi blanditiis quod molestiae quaerat adipisci necessitatibus error ipsum nihil nisi voluptate unde minima inventore, reprehenderit rerum nam libero ullam eum architecto. Et suscipit accusamus vel inventore ea!
        Expedita, tempora ipsum consequuntur autem, nisi sed cupiditate nostrum magnam quisquam officiis illum temporibus! Ut debitis qui voluptatem tenetur omnis nemo explicabo in tempora! Ad nihil libero animi earum saepe.
        Placeat, reprehenderit? Veritatis, provident ratione reprehenderit cupiditate ullam deserunt veniam libero, ducimus eos voluptas, fuga vero. Enim eos sint labore, cum est sequi! Pariatur sequi excepturi itaque impedit voluptate unde.
        Qui, exercitationem! Vero aperiam praesentium ipsa expedita mollitia tempore nihil debitis quibusdam alias dolorum, deserunt, iusto animi. Sunt quae alias, nihil nesciunt illo quis sequi, suscipit necessitatibus cupiditate enim placeat!
        Placeat autem minus voluptatem assumenda aperiam qui inventore ipsam consequatur magnam eius hic animi tenetur, vitae, laborum consequuntur minima, quas unde aspernatur quae consectetur excepturi? Tempore cum ex vero sint!
        Incidunt suscipit similique eius nulla porro molestias asperiores perferendis obcaecati error voluptates dicta adipisci in quaerat beatae, corrupti magnam ex laudantium quae reprehenderit. Minima mollitia unde non possimus itaque provident.
        Ducimus accusamus quaerat, Officia culpa mollitia, laudantium laboriosam eveniet magnam soluta veniam iste accusamus dolor deleniti doloribus itaque laborum tempora veritatis provident aut pariatur sequi modi. Sint.
        Quod eum et at harum totam magni. Iste repellat optio, odio ipsa tempora, alias ipsam et itaque cupiditate nulla totam aut. Necessitatibus consectetur nesciunt laudantium recusandae magni placeat sapiente. Nisi.
        Repellat perferendis neque, amet iste, vel harum itaque perspiciatis sunt nulla officia praesentium blanditiis eveniet impedit fuga? Aut voluptate perferendis tenetur accusamus, corporis unde fuga exercitationem voluptatibus, aliquid officiis culpa.
        Optio, accusamus ratione. Odit in sapiente nam dolores laudantium excepturi illum facere aut. Quibusdam cum et vero dignissimos quaerat cupiditate?
        Explicabo tempore animi tenetur obcaecati consectetur porro corporis voluptatibus vitae neque molestias sunt aperiam veritatis soluta mollitia molestiae voluptates quis ut vero, non asperiores itaque rem. Voluptatem nulla a minima?
        Cum aperiam cumque, eveniet beatae voluptas alias laudantium quibusdam ratione possimus quos unde totam corporis harum aut tempore animi facere voluptatibus commodi delectus, blanditiis doloribus voluptates numquam. Praesentium, voluptatum animi!
        Neque corrupti natus eaque nam incidunt omnis velit modi animi cumque illo molestiae libero recusandae ea ab iusto ex, reprehenderit facilis sit, itaque deserunt inventore laudantium. Commodi soluta quo adipisci.
        Quisquam quod consequatur voluptatibus natus velit quam provident perferendis reprehenderit eum accusantium quasi adipisci inventore, possimus tempore omnis deleniti commodi sed illum nisi atque eius autem corporis. Cum, cupiditate neque.
        Dolor, ut commodi quo quae placeat blanditiis aperiam dolores aspernatur culpa quis temporibus nihil. Explicabo nulla labore ad repudiandae eligendi molestias earum vitae dolore sequi hic, exercitationem suscipit, incidunt cupiditate.
        Explicabo itaque obcaecati doloribus, aspernatur maxime nulla repudiandae cupiditate sint, ullam esse nihil at aliquid dolores aut nobis? Maxime iusto exercitationem harum beatae fugiat sequi totam itaque officiis iste fugit!
        Fuga debitis excepturi beatae maxime ipsum magni ut. Dolorem quo quod possimus magnam nemo quia, vel temporibus iure debitis consequuntur quas. Perspiciatis quam maiores quod beatae iste doloribus sed provident!
        Asperiores unde nobis provident et ipsam aliquid labore accusamus, nulla obcaecati porro rem perspiciatis quaerat fugit quos possimus rerum omnis vitae dolorem inventore cumque? Doloremque, quis. Quod quas non vel!
        Eveniet expedita, sint tempora fugit corrupti neque omnis reprehenderit, alias recusandae aliquam assumenda minus dolores deleniti facere quasi velit placeat veritatis? Minus ex sapiente molestiae veniam cum. Sapiente, quibusdam odio.
        Provident ab quos perferendis ut quo sed nesciunt, repellendus ipsam, officiis sint sequi sit pariatur possimus doloremque dolorem non, odit excepturi! Cum magni eos optio numquam pariatur adipisci sapiente amet.
        Doloribus repellendus beatae earum id quod provident sequi error cupiditate a, quisquam placeat voluptatibus ducimus aliquid ratione exercitationem, eius eos! Repellendus consequuntur cum quia magnam facere ducimus fugiat qui obcaecati!
        Quis quos eligendi veniam laborum perspiciatis tenetur temporibus? Animi minima fugit ratione. Impedit minima omnis odio dolores, et laborum ut amet ad voluptate voluptatibus voluptas fugit quis provident explicabo molestiae.
        Incidunt similique veniam blanditiis. Mollitia quos voluptates laboriosam laborum maxime reprehenderit sint nisi quis iure cumque, ratione ipsam debitis totam enim ad magni cupiditate soluta, tempore quod molestias! Nobis, alias.
        Hic alias quae magnam voluptatum sunt. Voluptatum, dolore hic. Debitis, sunt eum. Et, error hic itaque, debitis porro vero nisi distinctio ut atque totam nihil harum dolorem numquam tempore consectetur?
        Sapiente numquam quos ut repudiandae doloribus odio possimus dolores reiciendis iusto, mollitia aliquid doloremque excepturi velit ratione rerum magnam reprehenderit nobis vitae dolorum deleniti? Quod ipsam magni ratione? Delectus, voluptate.
        Saepe consequuntur mollitia officia at natus repellendus possimus temporibus deleniti animi ullam magni, facilis pariatur, vero aliquam! Doloremque maxime maiores, exercitationem, eaque eum enim minima aut quas quasi doloribus dolor?
        Aliquam expedita delectus, earum unde voluptates excepturi porro atque natus veritatis enim deserunt. At maiores facilis quisquam est vel fugit provident. Vitae suscipit beatae corporis eveniet dolor assumenda commodi dicta!
        Magni explicabo eligendi accusantium iure labore eius velit eum! Ratione delectus totam sed maiores itaque tempora dolor aut quod ea, sint beatae, repudiandae odio numquam. Quasi architecto fugiat minus quibusdam?
        Impedit quaerat consectetur ad. <br>
        <br> Ex fugit ipsam sint tenetur temporibus asperiores eos dolor consequatur, quos quaerat aspernatur aut ratione voluptatem. Tenetur saepe officia maxime et recusandae sint odio suscipit nostrum!
        Incidunt commodi consectetur et nulla, exercitationem facere tenetur praesentium suscipit itaque rerum iste ipsam quod vitae explicabo harum quidem corrupti illo at officia deserunt perspiciatis velit! Optio in molestias voluptate.
        Provident animi commodi dicta cupiditate ut sint, quo modi unde tenetur corrupti pariatur sapiente culpa, sequi rem deserunt maiores inventore eos molestiae sed, nemo hic veniam. Et magni in totam.
        Sequi, facere qui quibusdam quo harum omnis ratione labore dolor eligendi magni explicabo necessitatibus, minima eius ad cumque reprehenderit veritatis ab, possimus eum? Qui praesentium asperiores, consectetur voluptatibus impedit quis.
        Deleniti quibusdam voluptatem soluta perferendis itaque laborum. Assumenda culpa asperiores quisquam, vel hic quas incidunt iste architecto illo amet consequatur nesciunt inventore est eaque ipsum quasi accusantium veritatis ipsam itaque?
        Sequi iure minus dolor est animi culpa, tempora fuga totam, error rerum, illo dolorum numquam cum? Enim, facere aut! Ea rerum blanditiis quam libero at fugit ducimus laborum suscipit magni.
        Optio quae illo quo, dicta sed placeat sequi in, expedita inventore omnis explicabo, natus molestias delectus. Nesciunt deserunt tempora reiciendis beatae veniam laboriosam doloremque provident culpa corporis. Voluptatem, praesentium tenetur!
        Voluptatibus perspiciatis quasi corrupti error iusto dignissimos sit quas itaque aspernatur quam necessitatibus unde voluptate quibusdam, debitis similique officia, commodi doloribus! Possimus tempora at laboriosam adipisci minima quo dolore delectus?
        Soluta est quia debitis deserunt illum eveniet minima accusantium, voluptates dignissimos rerum. Voluptate accusamus voluptatem distinctio quod. Quia dignissimos culpa dicta consectetur ex officiis. Id quas magni tempora commodi nihil?
        Facilis tempora temporibus vitae eos quo et voluptate cum cumque quidem mollitia, vel eaque maxime magnam! Consequatur fugit voluptates ipsam, ex necessitatibus iusto delectus tenetur est, soluta, saepe voluptatum alias.
        Necessitatibus deleniti aliquam, dolor iure aliquid ratione est, doloribus amet blanditiis eius incidunt porro, molestias ipsam minus omnis voluptate ad optio molestiae officiis doloremque. Voluptatum autem deserunt reiciendis saepe! Nesciunt.
        Odit sunt consequuntur nesciunt soluta sequi excepturi sit perspiciatis tempora omnis officia qui, reprehenderit voluptatem architecto? Impedit saepe dolorem, aperiam ipsam quas modi, maiores fuga eos, veniam eum incidunt praesentium.
        Quos rerum cumque dolorum quaerat! Vel debitis cupiditate, ipsum accusantium aspernatur, nulla illum quos pariatur dolore accusamus maxime maiores? Natus officiis ea voluptates dolores animi non esse sapiente dolorem mollitia.
        Distinctio illum.
    </p>

        </div>
    </div>


<%- include('./partials/footer.ejs') %>
   